<section class="product-details">
    <h1>{{title}}</h1>
    <h4>Chef: Merna</h4>
    {{#if price}}
    <h2>Price: {{price}}</h2>
    {{else}}
    <h2>Price upon request</h2>
    {{/if}}

    {{#if isVeggie}}
    <h2>This pizza is Veggie</h2>
    {{/if}}



    {{!-- <h4>Ingredients</h4> --}}

    <ul>
    {{#each ingredients}}
            <li>{{this}}</li>
    {{/each}}
    </ul>

    <img src="{{imageFile}}" alt="pizza">

     {{> ctaOrderNow}}

</section>

