<section class="product-details">
    <h1>{{title}}</h1>
    {{#if amount}}
    <h2>Price: {{amount}}</h2>
    {{else}}
    <h2>Price upon request</h2>
    {{/if}}


    {{!-- <h4>Ingredients</h4> --}}

    <ul>
    {{#each ingredients}}
            <li>{{this.ingredientName}} ({{this.calories}} kcal.)</li>
    {{/each}}
    </ul>
    {{log ingredients}}

    <img src="{{imageFile}}" alt="pizza">

     {{> ctaOrderNow}}

</section>

